body {
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    background-color: black;
    color:limegreen;
    text-shadow: 0 0 5px lawngreen, 0 0 10px lawngreen, 0 0 15px lawngreen, 0 0 20px lawngreen;
}
header {
    text-align: center;
    font-size: 8vh;
}
.tile {
    height:4vh;
    width:2vw;
    background-color:cyan;
    box-shadow: 5px 5px 5px 0 lightgreen;
    border:2px solid black;
    opacity:0.6;
}
.game_area {
    background-color: black;
    height:auto;
    width:auto;
    padding:8vh 5vw;
    display: inline-block;
    margin-left:40vw;
}
.row {
    display: flex;
}
.stats {
    display:inline;
}